@use "./variables.scss" as *;

// put your custom CSS here!

@media all and (min-width: 1200px) {
    .page > #quartz-body {
        grid-template: "grid-sidebar-left grid-header" "grid-sidebar-left grid-center" "grid-sidebar-left grid-footer" / 320px auto;
    }
    .page > #quartz-body .sidebar.right {
        display: none;
        width: 0px;
    }
}

footer {
    text-align: center;
}

/* İlk paragrafı gizle */
footer > p:first-of-type {
    display: none;
}

/* İlk paragraf gizlendikten sonra footer'a CSS ile yazı ekle */
footer::after {
    content: "Bu web sitesinde yer alan tüm içerikler; yalnızca bilimsel, farmakolojik, tıbbi ve eğitimsel bilgilendirme amacıyla hazırlanmıştır.";
    display: block;
    font-size: 0.9rem;
    color: #f79ec3; /* Quartz'ın renk değişkeni */
    margin-top: 8px;
}
